:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  color: #000;
}
a:hover,
a:active {
  color: #ff00f2;
}

#container1 {
  background: url(/brick1.png);
  background-size: 110% 100%;
  animation: GradientBackground 12s ease-in-out infinite;

  width: 60rem;
  height: 60rem;
  /* border: solid rgb(61, 61, 61) 0.6rem; */
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container2 {
  /* background-color: rgba(31, 29, 29, 0.5); */
  width: 20rem;
  height: 20em;
  /* border: solid black 2rem; */
}

.flex {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

main {
  margin: 12rem auto 0 auto;
  /* padding: 2rem; */
  width: 100%;
}

section {
  margin-top: 3rem;
}

ul {
  margin-top: 2rem;
  list-style: decimal;
}

li {
  margin-left: 2rem;
}

button {
  /* border-radius: 8px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #000;
  color: #000;
  padding: 0.6rem 1.2rem;

  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ff00bf;
}

.section-1 {
  max-width: 50rem;
}

.credit-link {
  text-decoration: none;
}

.credits {
  text-align: end;
}

.colors {
  display: flex;
  margin-bottom: 0.6rem;
  justify-content: end;
  gap: 1rem;
}

.color {
  background-color: #d1d0d0;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

.color-1 {
  background: url(/tile1.png);
  background-size: cover;
}

.color-2 {
  background: url(/grass1.png);
  background-size: cover;
}

.color-3 {
  background: url(/brick1.png);
  background-size: cover;
}

.section-cv {
  margin-top: 2rem;
}

.copyright {
  margin-top: 6rem;
}

footer {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

@media (max-width: 1270px) {
  .section-1 {
    padding-left: 1.2rem;
  }

  .credits {
    margin-right: 1rem;
  }

  .colors {
    margin-right: 1rem;
  }

  main {
    margin-top: 5rem;
  }

  #container1 {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  main {
    margin-top: 6rem;
  }

  .flex {
    display: block;
  }

  #container1 {
    width: 100%;
  }

  .display {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
  }

  .section-1 {
    padding-right: 2rem;
  }
}
